<h1>블로그 게시물</h1>
<p>
  <strong>제목:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>내용:</strong>
  <%= @blog.description %>
</p>

<%= link_to '수정', edit_blog_path(@blog) %>
<%= link_to '삭제', @blog, method: :delete, data: { confirm: '정말 삭제하시겠읍니까?' } %>
<%= link_to '뒤로가기', blogs_path %>
<hr>
<h3>댓글</h3>
<% @blog.comments.each_with_index do |comment, index| %>
	<div>
		<p>
			<span><%= index + 1 %>.</span>
				<%= comment.comment %>
			<span>
				<%= link_to '댓글삭제', [comment.blog, comment], method: :delete, data: { confirm: '정말 삭제하시겠읍니까?' } %>
			</span>
		</p>
	</div>
<% end %>

<hr>

<h3>
	댓글작성 :
</h3>
<%= render 'comments/form' %>